* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.best {
    width: 1400px;
    height: 72px;
}
.header3{
    width: 1400px;
    height: 72px;
}
.info {
    display: flex;
    list-style-type: none;
    text-align: center;
}

.about1 {
    margin-top: 24px;
    margin-left: 154px;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
}

.web {
    color: #4D5AE5;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
}
.sticker{
width: 48px;
    height: 4px;
    padding: 2px 0px 0px 0px;
    border-radius:10px ;
    
    background-color: #4D5AE5;
    margin-top: 19px;
  
    
    
    
   
}
.about2{
margin-top: 24px;
    margin-left: 76px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #4D5AE5;
}
.about3{
margin-top: 24px;
    margin-left: 40px;
    
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.about4 {
    margin-top: 24px;
    margin-left: 40px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.about2 a{
color: #4D5AE5;
}
.about3 a{
    color: #2E2F42;
}
.about4 a {
    color: #2E2F42;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    
}

.about2 a:hover,
.about3 a:hover,
.about4 a:hover {
    
   text-decoration: none;
}

.gmail {

    margin-top: 25px;
    margin-left: 332px;

}

.gmail-color {
    color: #434455;
}

.phone {
    margin-top: 25px;
    margin-left: 40px;

}

.phone-color {
    color: #434455;
}

.maket {
    width: 1400px;
    height: 600px;
    
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/img/people-office\ 1\ \(1\).svg);
    background-size: cover;

}


.company {
    padding-left: 472px;
    padding-top: 188px;
    position: absolute;

    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;

}

.order {
    width: 169px;
    height: 56px;
    position: absolute;
    border-radius: 4px;
    gap: 10px;
    background-color: #4D5AE5;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 188px;
    left: 625px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 4px;
    gap: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 970;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 22, 0.3);
}

.modal-content {
    margin-left: 516px;
    margin-top: 75px;
    width: 408px;
    height: 584px;
    border-radius: 4px;
    opacity: 0px;
    background: #FCFCFC;
    border: none;
}

.close {
    border-radius: 50%;
    position: relative;
    color: black;
    float: right;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    box-shadow: #2E2F42;
    margin-top: 24px;
    margin-right: 24px;
}

.close:hover,
.close:focus {
    color: black;
    
    cursor: pointer;
}

.formxx2 {
    display: flex;
    flex-direction: column;
}
.icon-window{
    border-color: #2E2F4266;
}

.form-label5 {
    display: flex;
    flex-direction: column;
    cursor: pointer; 
    
}

.form-group5 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 24px;
}

.input-modal {
    width: 360px;
    height: 40px;
    
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    background-repeat: no-repeat;
        background-image: url(/img/person-black-18dp\ 1person-purple.svg);
       background-position: 15px;
}
.span-mail3{
color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 4px;
}
.span-phone{
    color: #8E8F99;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 4px;
}
.span-name{
  color: #8E8F99;  
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 4px;
}
.input-modal:focus {
outline: none;
    border-color: #007bff;
padding-left: 38px;
background-image: url(/img/person-purple.svg);

}
.icon-window2 {
    border-color: #2E2F4266;
}
.input-modal2 {
    width: 360px;
    height: 40px;

    border-radius: 4px;
    border: 1px 0px 0px 0px;
    background-repeat: no-repeat;
    background-image: url(/img/Vectorphonesur.svg);
    background-position: 15px;
}
.input-modal2:focus {
    outline: none;
    border-color: #007bff;
    padding-left: 38px;
    background-image: url(/img/phone-purple.svg);

}
.icon-window8 {
   
    border-color: rgba(0, 0, 0, 0, 5);
}
.input-modal8 {
    width: 360px;
    height: 40px;

    border-radius: 4px;
    border: 1px 0px 0px 0px;
    background-repeat: no-repeat;
    background-image: url(/img/Vectorелектронка.svg);
    background-position: 14px;
}

.input-modal8:focus {
    outline: none;
    border-color: #007bff;
    padding-left: 38px;
    background-image: url(/img/eelektronka-purple.svg) ;
    box-shadow:0 0 0 2px rgba(0, 123, 255, 0.25);

}
.legend-modal {
    color: rgba(46, 47, 66, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 72px;
    
}

.all-text {
    width: 1128px;
    height: 224px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
}

.text-for {
    display: flex;
    list-style-type: none;
}

.text1,
.text2,
.text3,
.text4 {
    margin-right: 24px;
}

.texth1,
.texth2,
.texth3,
.texth4 {
    margin-bottom: 8px;
    color: #2E2F42;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;

}

.textp1,
.textp2,
.textp3,
.textp4 {

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;




    color: #434455;
}

.sectionn {
    display: flex;
    list-style-type: none;
}

.all {
    Width: 1400px;
    Height: 732px;

}

.sectionn,
.ourteam,
.person1h4,
.person1p,
.person2h4,
.person2p,
.person3h4,
.person3p,
.person4h4,
.person4p {
    color: black;
}

#second-section {
    background-color: #F4F4FD;
    width: 1400px;
    height: 780px;
}

.ourteam {
    text-align: center;
    margin-left: 600px;
    margin-right: 639px;
    width: 162px;
    height: 40px;
    top: 1136px;
    left: 639px;
    weight: 700px;
    size: 36px;
    height: 40px;
    padding-top: 120px;

    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;




}

.person1 {
    margin-top: 72px;
    margin-left: 156px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
    list-style-type: none;
    transition: ease-in-out;
    

}
.person1:hover{
   transform: scale(1.1);
}
.person2:hover {
    transform: scale(1.1);
}
.person3:hover {
    transform: scale(1.1);
}
.person4:hover {
    transform: scale(1.1);
}
.person2 {
    margin-top: 72px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
}

.person3 {
    margin-top: 72px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
}

.person4 {
    margin-top: 72px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
}

.person1h4 {
    margin-top: 34px;
    text-align: center;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person1p {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person2h4 {
    margin-top: 34px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person2p {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person3h4 {
    margin-top: 34px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person3p {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person4h4 {
    margin-top: 34px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person4p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.porfilioo {
    width: 1300px;
    height: 1200px
}

.porfolioh1 {

    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding-top: 120px;
    margin-right: 611px;
    margin-left: 611px;
    white-space: nowrap;

    margin-bottom: 72px;

}

.our-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;

}

.ourl1 {
    margin-left: 156px;
width: 360px;
    height: 400px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}
.ourl3:hover{
    transform: scale(1.05);
    width: 360px; height: 400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ourl3 {
    margin-left: 24px;
    width: 360px;
        height: 400px;
    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.ourl1:hover {
    transform: scale(1.05);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ourl4:hover {
    transform: scale(1.05);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ourl5:hover {
    transform: scale(1.05);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ourl6:hover {
    transform: scale(1.05);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ourl4 {
    margin-left: 156px;
    margin-top: 48px;
    width: 360px;
        height: 400px;
    
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.ourl5 {
    margin-left: 24px;
    margin-top: 48px;
    width: 360px;
        height: 400px;
    
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.ourl6 {
    margin-left: 24px;
    margin-top: 48px;
    width: 360px;
        height: 400px;
    
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.ourh1,
.ourh2,
.ourh3,
.ourh4,
.ourh5,
.ourh6 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 24px;
    color: #2E2F42;
    padding-left: 16px;
}

.ourp1,
.ourp2,
.ourp3,
.ourp4,
.ourp5,
.ourp6 {
    margin-top: 8px;
padding-left: 16px;

    color: #434455;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.container {
    position: relative;
    width: 264px;
    height: 112px;
}

.bot {
    position: absolute;
top: 24px;
    left: 100px;
    z-index: 1;
}


.top {
    position: absolute;
    top: 0;
    left: 0;
    
            border: 1px solid grey;
                background-color: rgb(244, 244, 253, 1);
                background: (rgba(142, 143, 153, 1));
            
                width: 264px;
                height: 112px;
                gap: 0px;
                border-radius: 4%;
                border: 1px 0px 0px 0px;
                opacity: 1px;
}

.container {
    position: relative;
    width: 264px;
    height: 112px;
}

.new-bot {
    position: absolute;
    top: 24px;
    left: 100px;
    
    
}

.new-top {
  
        border: 1px solid grey;
            background-color: rgb(244, 244, 253, 1);
            background: (rgba(142, 143, 153, 1));
        
            width: 264px;
            height: 112px;
            gap: 0px;
            border-radius: 4%;
            border: 1px 0px 0px 0px;
            opacity: 0px;
            
   
}

.bot-bot {
    position: absolute;
        top: 24px;
        left: 100px;
        z-index: 1;
}

.new-new-new {
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 100px;
}

.man1 {
text-decoration: none;
    margin-left: 16px;

}

.man2 {
    margin-left: 24px;
text-decoration: none;
}

.man3 {
    margin-left: 24px;
text-decoration: none;
}

.man4 {
    margin-left: 24px;
text-decoration: none;

}



.border {
    border: 1px solid grey;
    background-color: rgb(244, 244, 253, 1);
    background: (rgba(142, 143, 153, 1));
    width: 264px;
    height: 112px;
    gap: 0px;
    border-radius: 8%;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    z-index: 2;
}

.border2 {
    position: absolute;
    top: 525%;
    left: 5%;
    z-index: 1;
}

.container77 {
  
    margin-left: 24px;
width: 360px;
    height: 400px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.container77:hover {
    transform: scale(1.05);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.image-container {
    position: relative;
}

.image77 {
    width: 100%;
    height: auto;
}

.overlay77 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 1);

    opacity: 0;
    transition: opacity 0.3s ease;
}

.container77:hover .overlay77 {
    opacity: 1;
}

.text77 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 32px;

}
.footer{
    width: 1400px;
        height: 312px;
        background-color: #2E2F42;
}
.footer-over {

    display: flex;
}
.web-new{
 
  margin-left: 156px;
}
.WEB-Studio {

color: #F4F4FD;
font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    display: inline-block;
    text-transform: uppercase ;
    margin-top: 100px;

}


.web{
    color: #4D5AE5;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
     
}
.over2{


    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal ;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    
    color: white;
    margin-top: 16px;

}

.footer-something {
   
 
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            
            font-size: 16px;
            
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #FFFFFF;
            margin-top: 100px;
    
}
.sur{
    margin-left: 80px;
           margin-top: 100px; 
      
        
}
.ok1{
    margin-top: 16px;
    
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: inline-flex;
        position: relative;
       
}
.ok2{
    margin-top: 16px;
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        margin-left: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        position: relative;
}
.ok3{
        margin-top: 16px;
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        margin-left: 16px;
        display: inline-flex;
        position: relative;
}
.ok4 {
    margin-top: 16px;

    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    margin-left: 16px;
    display: inline-flex;
    position: relative;
}

.ok1 svg {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.ok2 svg {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ok3 svg {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ok4 svg {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  

}
.ok1:hover,
.ok2:hover,
.ok3:hover,
.ok4:hover {
    background-color: aqua;

}


.ok1:hover svg path,
.ok2:hover svg path,
.ok3:hover svg path,
.ok4:hover svg path {
    fill: white;

}
.footer-for-image{
margin-left: 120px;
}
.footer-ul{
        display: flex;
           
           
        
          list-style-type: none;
}


.email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px ;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    color: whitesmoke;
    /* Прозрачный белый цвет */
    width: 100%;
        padding: 10px;
        margin-top: 16px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




button {
   width: 170px;
   height: 40px;
    padding: 8px,24px,8px,24px;
    background-color:#4D5AE5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 139px;
    margin-left: 24px;
    
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.span-Subscribe{
   color: #FFFFFF ;
   
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  
}
.submit-btn{
    
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        
        display: flex;
            align-items: center;
            
            justify-content: center;
}
.submit-btn svg {
    margin-left: 16px;
    /* Задаємо відступ зліва від тексту кнопки */
}