* {
    margin: 0;
    padding: 0;
    
}

.best {
    width: 100%;
    height: 72px;
}

.info {
    display: flex;
    list-style-type: none;
    text-align: center;
}

.about1 {
    margin-top: 24px;
    margin-left: 154px;
}

.web {
    color: #4D5AE5;
}

.about2,
.about3,
.about4 {
    margin-top: 24px;
    margin-left: 40px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.about2 a,
.about3 a,
.about4 a {
    color: #2E2F42;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    
}

.about2 a:hover,
.about3 a:hover,
.about4 a:hover {
    color: #4D5AE5;
   text-decoration: underline;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #4D5AE5;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: none;
}
.gmail {

    margin-top: 25px;
    margin-left: 332px;

}

.gmail-color {
    color: #434455;
}

.phone {
    margin-top: 25px;
    margin-left: 40px;

}

.phone-color {
    color: #434455;
}

.maket {
    width: 1440px;
    height: 600px;
    Top: 72px;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/img/people-office\ 1\ \(1\).svg);
    background-size: cover;

}


.company {
    padding-left: 472px;
    padding-top: 188px;
    position: absolute;
    ;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;

}

.order {
    width: 169px;
    height: 56px;
    position: absolute;
    top: 428px;
    left: 550px;
    border-radius: 4px;
    gap: 10px;
    background-color: #4D5AE5;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: Hug (169px);
    height: Hug (56px);
    top: 428px;
    left: 635px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 4px;
    gap: 10px;
}

.reckrool {
    color: #FFFFFF;
}

.all-text {
    width: 1128px;
    height: 224px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
}

.text-for {
    display: flex;
    list-style-type: none;
}

.text1,
.text2,
.text3,
.text4 {
    margin-right: 24px;
}

.texth1,
.texth2,
.texth3,
.texth4 {
    margin-bottom: 8px;
    color: #2E2F42;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;

}

.textp1,
.textp2,
.textp3,
.textp4 {

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;




    color: #434455;
}

.sectionn {
    display: flex;
    list-style-type: none;
}

.all {
    Width: 1440px;
    Height: 732px;

}

.sectionn,
.ourteam,
.person1h4,
.person1p,
.person2h4,
.person2p,
.person3h4,
.person3p,
.person4h4,
.person4p {
    color: black;
}

#second-section {
    background-color: #F4F4FD;
    width: 1440px;
    height: 780px;
}

.ourteam {
    text-align: center;
    margin-left: 600px;
    margin-right: 639px;
    width: 162px;
    height: 40px;
    top: 1136px;
    left: 639px;
    weight: 700;
    size: 36px;
    height: 40px;
    padding-top: 120px;

    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;




}

.person1 {
    margin-top: 72px;
    margin-left: 156px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
    list-style-type: none;

}

.person2 {
    margin-top: 72px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
}

.person3 {
    margin-top: 72px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
}

.person4 {
    margin-top: 72px;
    margin-right: 24px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
}

.person1h4 {
    margin-top: 34px;
    text-align: center;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person1p {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person2h4 {
    margin-top: 34px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person2p {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person3h4 {
    margin-top: 34px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person3p {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person4h4 {
    margin-top: 34px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.person4p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.porfilioo {
    width: 1300px;
    height: 1200px
}

.porfolioh1 {

    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding-top: 120px;
    margin-right: 611px;
    margin-left: 611px;
    white-space: nowrap;

    margin-bottom: 72px;

}

.our-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;

}

.ourl1 {
    margin-left: 156px;


}

.ourl2 {
    margin-left: 24px;

}

.ourl3 {
    margin-left: 24px;
}

.ourl4 {
    margin-left: 156px;
    margin-top: 48px;

}

.ourl5 {
    margin-left: 24px;
    margin-top: 48px;
}

.ourl6 {
    margin-left: 24px;
    margin-top: 48px;
}

.ourh1,
.ourh2,
.ourh3,
.ourh4,
.ourh5,
.ourh6 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 24px;
    color: #2E2F42;
}

.ourp1,
.ourp2,
.ourp3,
.ourp4,
.ourp5,
.ourp6 {
    margin-top: 8px;


    color: #434455;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.container {
    position: relative;
    width: 264px;
    height: 112px;
}

.bot {
    position: absolute;
    z-index: 1;
    padding-left: 96px;
    padding-top: 23px;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.container {
    position: relative;
    width: 264px;
    height: 112px;
}

.new-bot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 96px;
    padding-top: 23px;
    /* Підняти нижній SVG на один рівень вище */
}

.new-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* Не забувайте, що нижній SVG має бути нижче */
}

.bot-bot {
    position: absolute;
    z-index: 1;
    padding-left: 96px;
    padding-top: 23px;
}

.new-new-new {
    position: absolute;
    z-index: 1;
    padding-left: 96px;
    padding-top: 23px;
}

.man1 {

    margin-left: 16px;

}

.man2 {
    margin-left: 24px;

}

.man3 {
    margin-left: 24px;

}

.man4 {
    margin-left: 24px;


}

.sectionn li:not(:last-child) .man2 .clip-path {
    display: none;
}

ul.sectionn {
    list-style-type: none;
    /* Видалення маркерів списку */
}

ul.sectionn li a {
    text-decoration: none;

}

.all a::before {
    display: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
}

/* .footer-h1 {
    color: #FFFFFF;
    padding-top: 100px;


    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-left: 156px;

}

.WEB-over {
    color: #4D5AE5;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.over {
    color: #F4F4FD;
    ;
    padding-left: 156px;
    margin-top: 4px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;




}

.over2 {
    padding-left: 540px;


}

.over3 {
    padding-left: 269px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.over4 {
    margin-left: 16px;

}

.over6 {
    margin-left: 16px;

}

.over7 {
    margin-left: 16px;

}

.over8 {
    margin-left: 120px;
    margin-top: px;
} */

.footer-over {
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
}

.social-media {
    color: white;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 120px;
    padding-top: 100px;
}

.ok1 {
    margin-left: 120px;
    margin-top: 16px;

}

.ok2,
.ok3,
.ok4 {
    margin-left: 16px;
}

.WEB-Studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
    padding-top: 105px;
    margin-left: 156px;
}

.over {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
}

.web {
    color: #4D5AE5;
}

.over2 {
    margin-left: 156px;
    margin-top: 16px;
}
.border {
    border: 1px  solid grey ;
    background-color:  rgb(244,244,253,1);
    background: (rgba(142, 143, 153, 1));

    width: 264px;
        height: 112px;
        gap: 0px;
        border-radius: 8% ;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        z-index: 2;
}
.border2{
   position: absolute;
   top: 525% ;
   left: 5%;
   z-index: 1;
}